@charset "UTF-8";

.bookrank {
	width: 100%;
	height: 20px;
	overflow: hidden;
	background-color: #fff;
}

.rolling {
	position: relative;
	width: 100%;
	height: auto;
}

.rolling li {
	width: 100%;
	height: 20px;
	line-height: 20px;
}

.rolling li > a > strong{
	color: #ff9f43;
}