@charset "UTF-8";

.container-1000 { width:1000px; }
.cart-t {
   padding: 0 0 45px 0;
   font-size: 40px;
   color: #ff7d9e;
   text-align: center;
}

.cart-contents {
   margin: 0 auto;
   width: 1400px;
}
.cart {
   width: 1200px;
   min-height: 535px;
}   
.step {
   margin: -12px 0 72px 0;
   text-align: center;
}
ol, ul {
   list-style: none;
}
.step > li {
   display: inline-block;
   width: 114px;
   height: 114px;
   text-align: left;
   text-indent: -9999px;
   background: url('../image/cart-step.png') no-repeat 0 100%;
}
.cart-con {
   margin: 0 auto;
   position: relative;
   width: 1150px;
}
.cart-left {
   width: 820px;
}
.cart-table {
   margin: 0 0 22px 0;
}
.cs-form {
   display: inline-block;
   position: relative;
   vertical-align: middle;
}
.cart-table table td {
   height: 36px;
   font-size: 14px;
   color: #010101;
   line-height: 1.4;
   border-bottom: solid 1px #e8e8e8;
   padding: 16px 5px;
}
.cart-table table thead th {
   height: 42px;
   font-size: 16px;
   color: #010101;
   text-align: center;
   border-top: solid 2px #000;
   border-bottom: solid 1px #9d9d9d;
   
}
.tleft {
   text-align: left;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
.bookimg {
   
   width: 120px;
}
.product-info > *{
   display: inline-block;
   vertical-align: middle;
}
.info {
   width: 280px;
   font-size: 14px;
}
.tit {
   margin: 0 0 6px 0;
   font-size: 16px;
}
.txt {
   margin: 0 0 18px 0;
   color: #484848;
}
.cart-count {
   display: inline-blockblock;
   position: relative;
   width: 71px;
   text-align: center;
   margin-left: 9px;
}
.c1 {
   margin: 0 0 12px 0;
   display: block;
   color: #848484;
   
}
.c2 {
   margin: 0;
   display: block;
   color: #000;
}
.btnbox {
   margin: 0 0 33px 0;
}
.btnbox.right {
   text-align: right;
}
.dash-list {
   padding: 10px 0 18px 34px;
   background: #fff5f6;
   text-align: left;
   
}
.cart-right {
   position: absolute;
   right: 0;
   top: 0;
   width: 300px;
   
}
.paybox {
   top: 0;
   width: 346px;
   position: relative;
   margin-left: 0px;
}
.cart-top {
   margin: 0 0 22px 0;
   padding: 40px 44px 48px 44px;
   background: #f6f6f6;
}
.cart-price {
   margin: 0 0 36px 0;
   font-size: 17px;
   color: #ff7d9e;
}
#cart-total-price,
#del-price,
#cart-total-discount {
   color: #7e7e7e;
   text-align: right;
}
.btn-m-red,
.btn-m-line {
   width: 100%;
   height: 60px;
   
}

.btn-m-red span,
.btn-m-line span {
   width: 100%;
   height: 60px;
   font-size: 18px;
   line-height: 60px;
   min-width: 150px;
   display: block;
   box-sizing: border-box;
}
.btn-m-red span {
   color: #fff;
   background: #ff7d9e;
}
.btn-m-line span {
   color: #ff7d9e;
   border-color: #ff7d9e;
   border: solid 1px #bebebe;
   background: #fff;
   padding: 0 10px;
}
[class^="btn0m"] span {
   padding: 0 10px;
   min-width: 150px;
   text-align: center;
   border-radius: 10px;
   cursor: pointer;
   
}

.cart-count input {
   padding: 0;
   width: 25px;
   height: 33px;
   font-size: 12px;
   color: #000;
   text-align: center;
   border: solid 1px #acacac;
   border-radius: 2px;
}
.cart-count {
   
}
