@charset "UTF-8";

.book-list{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: wrap;
}

/* 5개짜리 */
.book-item {
    width: 16%;
    height: 275px;
    margin: 0 24px 14% 24px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
} 

.book-like-div > .book-item {
	 width: 20%;
}

.myInfo-article > .book-list > .book-item{
	width: 20%;
    height: 245px;
    margin: 0 24px 15% 24px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}
/* 6개짜리 */
/* .book-item {                   
    width: 14.5%;
    height: 280px;
    margin: 2% 13px;
} */
 
.book-img{
	width:100%;
	height:100%;
	object-fit:fill;	
}
.book-img-a{
	display:block;
	width: 100%;
	height:100%;
}
.book-img-a>img{
	border-radius: 10px;
	display:block;
}
.book-publisher{
	display:block;
	font-size: 12px;
	padding:10px 2px;
	color:rgba(0,0,0,0.5);
}
.book-title{
	display:block;
	
}
.book-author{
	display:block;
	text-align: right;
	padding:10px 2px;
	font-size: 14px;
	font-weight: 900;
	color:rgba(0,0,0,0.7);
}
.book-price{
	font-size: 18px;
	font-weight: 900;
	color: #ff9f43; 
}

.book-discount{
	font-size: 18px;
	font-weight: 900;
	color:#ff6b6b; 
}

.book-good{
	position: absolute; 
	left: auto;
    right: 14px;
    top: auto;
    bottom: 14px;
    width: auto;
    height: auto;
    text-align: left;
    background: url(../image/pc_good.png);
    background-size: 27px;
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    display: inline-block; 
    border: 0px;
    border-style: none;
}

.book-good-on{
	position: absolute; 
	left: auto;
    right: 14px;
    top: auto;
    bottom: 14px;
    width: auto;
    height: auto;
    text-align: left;
    background-size: 27px;
    background: url(../image/pc_good_on.png);
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
	display: inline-block; 
    background-size: 27px;
    animation-name: scale;
    animation-duration: 1s; 
    border: 0px;
    border-style: none;
}

.book-like-checkbox{
	position: absolute; 
	width: 20px;
	height: 20px;
	top: 10px;
	left: 10px;
}

.book-like-btn{
	display: inline-block;
	height:50px;
    line-height: 1;
    vertical-align: top;
    border: none;
    background: none;
    min-width: 220px;
    color: #fff;
    background: #39373a;
    margin-right: 15px;
    font-size: 18px;
    text-align: center;
    border-radius: 6px;
}

.book-like-delete-btn{
	background: #ff6b6b;
}

.book-like-div > .book-item {
    width: 20%;
}