@charset "UTF-8";

.review-row {
	width: 100%;
	margin: 5px auto;
	padding-left: 10px;
}

.review-regit-reply {
	width: 100%;
	min-height: 100px;
	margin: 10px auto;
	padding: 5px 0;
	border: 2px solid #cfcfcf;
	border-radius: 6px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.review_inbox_text {
	display: block;
	width: 100%;
	min-height: 80px;
	border: 0;
	font-size: 15px;
	resize: none;
	box-sizing: border-box;
	background: transparent;
	color: var(- -skinTextColor);
	outline: 0;
	margin-left: 20px;
}

.review-row {
	width: 100%;
	margin: 5px auto;
	padding-left: 10px;
}

.edit_button {
	display: inline_block;
	right : 0;
}

.delete_button {
	display: inline_block;
	right : 0;
}

