@charset "UTF-8";
.singup-form{
	border-top:1px solid rgba(0,0,0,0.4);
	padding-top: 40px;
}
.singup-form>span{
	font-size: 12px;
	width:100%;
	margin-left: 327px;
	
}

.hidden{
	visibility: hidden;
}
.visible{
	visibility: visible;
	color:#ff6b6b;
}
.singup-form > div{
	width:95%;
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 1.5rem 0 1.5rem;
	font-size: 12px;
	font-weight: 900;
}
.singup-form>div>input{
	border:none;
	border-bottom:1px solid rgba(0,0,0,0.4);
	width:70%; 
}

.signup-button-area>button{
	width: 45%;
	padding: 0.5rem;
}
